@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tnjia1');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tnjia1#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tnjia1') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tnjia1') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tnjia1##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plan-campaigns .path1 {
  &:before {
    content: $plan-campaigns-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0700;
  }
}
.plan-campaigns .path2 {
  &:before {
    content: $plan-campaigns-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-designs .path1 {
  &:before {
    content: $plan-designs-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0700;
  }
}
.plan-designs .path2 {
  &:before {
    content: $plan-designs-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path1 {
  &:before {
    content: $plan-websites-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0700;
  }
}
.plan-websites .path2 {
  &:before {
    content: $plan-websites-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path3 {
  &:before {
    content: $plan-websites-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path4 {
  &:before {
    content: $plan-websites-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path5 {
  &:before {
    content: $plan-websites-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path6 {
  &:before {
    content: $plan-websites-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path7 {
  &:before {
    content: $plan-websites-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path8 {
  &:before {
    content: $plan-websites-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path9 {
  &:before {
    content: $plan-websites-path9;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path10 {
  &:before {
    content: $plan-websites-path10;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path11 {
  &:before {
    content: $plan-websites-path11;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-websites .path12 {
  &:before {
    content: $plan-websites-path12;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path1 {
  &:before {
    content: $plan-startup-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-startup .path2 {
  &:before {
    content: $plan-startup-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path3 {
  &:before {
    content: $plan-startup-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path4 {
  &:before {
    content: $plan-startup-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path5 {
  &:before {
    content: $plan-startup-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path6 {
  &:before {
    content: $plan-startup-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path7 {
  &:before {
    content: $plan-startup-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path8 {
  &:before {
    content: $plan-startup-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path9 {
  &:before {
    content: $plan-startup-path9;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-startup .path10 {
  &:before {
    content: $plan-startup-path10;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-ecommerce .path1 {
  &:before {
    content: $plan-ecommerce-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-ecommerce .path2 {
  &:before {
    content: $plan-ecommerce-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-business .path1 {
  &:before {
    content: $plan-business-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-business .path2 {
  &:before {
    content: $plan-business-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-business .path3 {
  &:before {
    content: $plan-business-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-business .path4 {
  &:before {
    content: $plan-business-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-funnel .path1 {
  &:before {
    content: $plan-funnel-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-funnel .path2 {
  &:before {
    content: $plan-funnel-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-funnel .path3 {
  &:before {
    content: $plan-funnel-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-funnel .path4 {
  &:before {
    content: $plan-funnel-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-funnel .path5 {
  &:before {
    content: $plan-funnel-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-funnel .path6 {
  &:before {
    content: $plan-funnel-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-funnel .path7 {
  &:before {
    content: $plan-funnel-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}

