@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8ol2m2');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?8ol2m2#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8ol2m2') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8ol2m2') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8ol2m2##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="plan-icon-"], [class*=" plan-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plan-icon-business .path1 {
  &:before {
    content: $plan-icon-business-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-icon-business .path2 {
  &:before {
    content: $plan-icon-business-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-funnel .path1 {
  &:before {
    content: $plan-icon-funnel-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-icon-funnel .path2 {
  &:before {
    content: $plan-icon-funnel-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-funnel .path3 {
  &:before {
    content: $plan-icon-funnel-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-funnel .path4 {
  &:before {
    content: $plan-icon-funnel-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-funnel .path5 {
  &:before {
    content: $plan-icon-funnel-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path1 {
  &:before {
    content: $plan-icon-entrepreneur-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-icon-entrepreneur .path2 {
  &:before {
    content: $plan-icon-entrepreneur-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path3 {
  &:before {
    content: $plan-icon-entrepreneur-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path4 {
  &:before {
    content: $plan-icon-entrepreneur-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path5 {
  &:before {
    content: $plan-icon-entrepreneur-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path6 {
  &:before {
    content: $plan-icon-entrepreneur-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path7 {
  &:before {
    content: $plan-icon-entrepreneur-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path8 {
  &:before {
    content: $plan-icon-entrepreneur-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path9 {
  &:before {
    content: $plan-icon-entrepreneur-path9;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-entrepreneur .path10 {
  &:before {
    content: $plan-icon-entrepreneur-path10;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-campaigns .path1 {
  &:before {
    content: $plan-icon-campaigns-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0700;
  }
}
.plan-icon-campaigns .path2 {
  &:before {
    content: $plan-icon-campaigns-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-designs .path1 {
  &:before {
    content: $plan-icon-designs-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0700;
  }
}
.plan-icon-designs .path2 {
  &:before {
    content: $plan-icon-designs-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path1 {
  &:before {
    content: $plan-icon-websites-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0700;
  }
}
.plan-icon-websites .path2 {
  &:before {
    content: $plan-icon-websites-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path3 {
  &:before {
    content: $plan-icon-websites-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path4 {
  &:before {
    content: $plan-icon-websites-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path5 {
  &:before {
    content: $plan-icon-websites-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path6 {
  &:before {
    content: $plan-icon-websites-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path7 {
  &:before {
    content: $plan-icon-websites-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path8 {
  &:before {
    content: $plan-icon-websites-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path9 {
  &:before {
    content: $plan-icon-websites-path9;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path10 {
  &:before {
    content: $plan-icon-websites-path10;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path11 {
  &:before {
    content: $plan-icon-websites-path11;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-websites .path12 {
  &:before {
    content: $plan-icon-websites-path12;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path1 {
  &:before {
    content: $plan-icon-startup-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-icon-startup .path2 {
  &:before {
    content: $plan-icon-startup-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path3 {
  &:before {
    content: $plan-icon-startup-path3;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path4 {
  &:before {
    content: $plan-icon-startup-path4;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path5 {
  &:before {
    content: $plan-icon-startup-path5;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path6 {
  &:before {
    content: $plan-icon-startup-path6;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path7 {
  &:before {
    content: $plan-icon-startup-path7;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path8 {
  &:before {
    content: $plan-icon-startup-path8;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path9 {
  &:before {
    content: $plan-icon-startup-path9;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-startup .path10 {
  &:before {
    content: $plan-icon-startup-path10;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}
.plan-icon-ecommerce .path1 {
  &:before {
    content: $plan-icon-ecommerce-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.0600;
  }
}
.plan-icon-ecommerce .path2 {
  &:before {
    content: $plan-icon-ecommerce-path2;  
    margin-left: -1em;  
    color: rgb(0, 0, 0);
  }
}

