$icomoon-font-family: "plans" !default;
$icomoon-font-path: "fonts" !default;

$plan-icon-business-path1: "\e91c";
$plan-icon-business-path2: "\e91d";
$plan-icon-funnel-path1: "\e91e";
$plan-icon-funnel-path2: "\e91f";
$plan-icon-funnel-path3: "\e920";
$plan-icon-funnel-path4: "\e921";
$plan-icon-funnel-path5: "\e922";
$plan-icon-entrepreneur-path1: "\e927";
$plan-icon-entrepreneur-path2: "\e928";
$plan-icon-entrepreneur-path3: "\e929";
$plan-icon-entrepreneur-path4: "\e92a";
$plan-icon-entrepreneur-path5: "\e92b";
$plan-icon-entrepreneur-path6: "\e92c";
$plan-icon-entrepreneur-path7: "\e92d";
$plan-icon-entrepreneur-path8: "\e92e";
$plan-icon-entrepreneur-path9: "\e92f";
$plan-icon-entrepreneur-path10: "\e930";
$plan-icon-campaigns-path1: "\e900";
$plan-icon-campaigns-path2: "\e901";
$plan-icon-designs-path1: "\e902";
$plan-icon-designs-path2: "\e903";
$plan-icon-websites-path1: "\e904";
$plan-icon-websites-path2: "\e905";
$plan-icon-websites-path3: "\e906";
$plan-icon-websites-path4: "\e907";
$plan-icon-websites-path5: "\e908";
$plan-icon-websites-path6: "\e909";
$plan-icon-websites-path7: "\e90a";
$plan-icon-websites-path8: "\e90b";
$plan-icon-websites-path9: "\e90c";
$plan-icon-websites-path10: "\e90d";
$plan-icon-websites-path11: "\e90e";
$plan-icon-websites-path12: "\e90f";
$plan-icon-startup-path1: "\e910";
$plan-icon-startup-path2: "\e911";
$plan-icon-startup-path3: "\e912";
$plan-icon-startup-path4: "\e913";
$plan-icon-startup-path5: "\e914";
$plan-icon-startup-path6: "\e915";
$plan-icon-startup-path7: "\e916";
$plan-icon-startup-path8: "\e917";
$plan-icon-startup-path9: "\e918";
$plan-icon-startup-path10: "\e919";
$plan-icon-ecommerce-path1: "\e91a";
$plan-icon-ecommerce-path2: "\e91b";

