$icomoon-font-family: "plans" !default;
$icomoon-font-path: "fonts" !default;

$plan-campaigns-path1: "\e900";
$plan-campaigns-path2: "\e901";
$plan-designs-path1: "\e902";
$plan-designs-path2: "\e903";
$plan-websites-path1: "\e904";
$plan-websites-path2: "\e905";
$plan-websites-path3: "\e906";
$plan-websites-path4: "\e907";
$plan-websites-path5: "\e908";
$plan-websites-path6: "\e909";
$plan-websites-path7: "\e90a";
$plan-websites-path8: "\e90b";
$plan-websites-path9: "\e90c";
$plan-websites-path10: "\e90d";
$plan-websites-path11: "\e90e";
$plan-websites-path12: "\e90f";
$plan-startup-path1: "\e910";
$plan-startup-path2: "\e911";
$plan-startup-path3: "\e912";
$plan-startup-path4: "\e913";
$plan-startup-path5: "\e914";
$plan-startup-path6: "\e915";
$plan-startup-path7: "\e916";
$plan-startup-path8: "\e917";
$plan-startup-path9: "\e918";
$plan-startup-path10: "\e919";
$plan-ecommerce-path1: "\e91a";
$plan-ecommerce-path2: "\e91b";
$plan-business-path1: "\e91c";
$plan-business-path2: "\e91d";
$plan-business-path3: "\e91e";
$plan-business-path4: "\e91f";
$plan-funnel-path1: "\e920";
$plan-funnel-path2: "\e921";
$plan-funnel-path3: "\e922";
$plan-funnel-path4: "\e923";
$plan-funnel-path5: "\e924";
$plan-funnel-path6: "\e925";
$plan-funnel-path7: "\e926";

